body{
    margin: 0;
    padding: 0;
}
.blood{
    display: flex;
    justify-content: center;
   
}
.blood-form{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.blood-form input{
    border: 0;
    border-bottom: 2px black solid;
    outline: none;
    margin: 5px;
  padding: 5px 10px;
  font-size:10px;
}
.blood-form input[type="radio"]{
    cursor: pointer;
}
.submit{
    cursor: pointer;
    border: 0;
    width: 40%;
   height: auto;
   color: white;
   background-color: black;

}
.help{
    margin-top: 10px;
}
.our-service-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
 margin: 10px;
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.fa-facebook{
    font-size: 40px;
    color: rgb(24, 175, 251);
}
.fa-whatsapp{
    font-size: 40px;
    color: lightgreen;
}
.fa-twitter{
    font-size: 40px;
    color: rgb(24, 175, 251);
}
.help h2{
    text-align: center;
}
.border{
    border-bottom: 2px black dotted;
}